#sidebar .sidebar-iphone-block { position: relative; }

#iphone_shell
{
  height:749px;
  width:380px;
}

.screenshot_slide
{
  position:absolute;
  top:138px;
  left:31px;
  width:320px;
  height:480px;
  margin:auto;
}

.screenshot_slide img
{
  width:320px;
  height:480px;
}

body
{
  background-image:url('../images/grey.png');
}
