#sidebar .sidebar-iphone-block { position: relative; }

#iphone_shell
{
  height:749px;
  width:380px;
}

.screenshot_slide
{
  position:absolute;
  top:138px;
  left:31px;
  width:320px;
  height:480px;
  margin:auto;
}

.screenshot_slide img
{
  width:320px;
  height:480px;
}

body
{
  background-image:url('../images/grey.png');
}

ul.thumbnails li.span4:nth-child(3n + 4) {
  margin-left : 0px;
}

ul.thumbnails li.span3:nth-child(4n + 5) {
  margin-left : 0px;
}

ul.thumbnails li.span12 + li {
  margin-left : 0px;
}

div.thumbnail h6 {
  text-align:center;
}

.bigtime h1 {
  font-size: 60px;
  line-height:72px;
  letter-spacing: -1px;
  color: inherit;
  margin-top:0px;
}

.bigtime p {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
}

.thumbnail {
  background-color:white;
}

.app_store {
  width:300px;
  margin:0 auto;
  display:block;
}
