#sidebar .sidebar-iphone-block { position: relative; top:-20px;}
#sidebar-screenshot { height:697px;}

.screenshot_slide
{
  top:-611px;
  left:-94px;
  width:320px;
  height:480px;
  margin:auto;
  margin-bottom:-640px;
}

.screenshot_slide img
{
  width:320px;
  height:480px;
}

body
{
  background-image:url('../images/grey.png');
}
