    <div class="row-fluid">
      <div class="span12 footer muted">
        <br />
        Copyright 2012 - Kudu Apps, LLC | <a href="/privacy/">Privacy Policy</a> | <a href="/termsofuse/">Terms of Use</a>
      </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      (function($){
       $('.row-fluid ul.thumbnails li.span6:nth-child(2n + 3)').css('margin-left','0px');
       $('.row-fluid ul.thumbnails li.span4:nth-child(3n + 4)').css('margin-left','0px');
       $('.row-fluid ul.thumbnails li.span3:nth-child(4n + 5)').css('margin-left','0px');
       })(jQuery);
     </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34436875-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
  </body>
</html>
